<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">


    <title>졸프 | 소개페이지</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Do Hyeon', sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }
    </style>
    <script>
        function openClose() {
            // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
            if ($("#post-box").css("display") == "block") {
                // post-box를 가리고
                $("#post-box").hide();
                // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text('포스팅 박스 열기');
            } else {
                // 아니면(눈에 보이지 않으면) post-box를 펴라
                $("#post-box").show();
                // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text("포스팅 박스 닫기");
            }
        }
    </script>

</head>

<body>

<div class="wrap">
    <h1>소개페이지</h1>
    <hr class="my-4">
    <div class="jumbotron">
        <h1 class="display-4">Coww팀의 Sign-learning</h1>
        <div class="card">


<table>
  <tr>
    <td><img alt="" src="doradora.png" width="800" height="330"/></td>
  <tr>
</table>


            <div class="card-body">
            </div>
        </div>


        <!-- 목적, 내용, 과정, 기대효과 정도 들어가면 좋을 듯 싶음-->
        <p class="lead">sign-learning은 처음 상명대학교 학생들의 졸업프로젝트에 의해 만들어졌습니다.
            장애인들과의 소통을 위해 만들어졌으며 학습기능이 있고어쩌구저쩌구 잘 사용해주시길 바람
        암튼 그리고 사용하면 꼭 100만원씩 내야됨 계좌번호: 후원링크</p>
        <a href="lalatest.html"><button type="button" class="btn btn-secondary btn-lg" >뒤로</button></a>
    </div>




    </div>
</div>
</body>

</html>